#map {
    width: 500px;
    height: 500px;
}

button {
    margin-top: 2% !important;
    margin-bottom: 5% !important;
 }

 .hidden{
    display: none !important;
 }

 .show{
    display: block;
 }
 nav::after{
    padding-bottom: 30vh !important;
 }